#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use ( or 'resources' origin file or folder )
# . value 5 :
#      - "1" for "ONLY ONE GENERATION" (independently of the number of entities)
#      - "*" (or nothing) for "MULTIPLE GENERATIONS" (one generation for each entity)
#      - "R" for "static resources" to copied
#---------------------------------------------------------

spring cors config            ; CorsConfig.java                     ;${SRC}/${ROOT_PKG}/app/config  ; CorsConfig.vm; 1
spring idx page1 config       ; PageableResolverConfig.java         ;${SRC}/${ROOT_PKG}/app/config  ; PageableResolverConfig.vm; 1
spring expose rest ids config ; RepositoryRestConfigurerConfig.java ;${SRC}/${ROOT_PKG}/app/config  ; RepositoryRestConfigurerConfig.vm; 1
